node_modules
**/node_modules
.git
.env
**/.env
**/.env.*
.DS_Store
coverage
dist
**/*.pid
**/*.log
**/*.log.*
**/*.db
**/*.pem
**/*.key
dev/server/config
dev/satellite/config
dev/server/music-assistant/data
dev/server/models
dev/satellite/models
dev/satellite/.venv
